---
title: Подача объявления (Шаг 1 из 2)
layout: prototype
body_class: prototype
---


.tech-categories
  - categories = ['Все категории', 'Трактор', 'Экскаватор', 'Кран', 'Манипулятор', 'Автотранспорт', 'Прочее']
  .dropdown
    %button.btn.btn-block.btn-default#categories-menu{ data: {toggle: :dropdown}, type: :button }
      = categories[0]
      %span.caret
    %ul.dropdown-menu{  'aria-labelledby' => 'categories-menu' }
      - categories.each_with_index do |c, i|
        - unless i == 0
          %li.tech-category-item
            %a.tech-category-item-link= c

%section.tech-container
  .container
    .pull-right
      .btn-group
        .btn.btn-default.active
          плитка
        .btn.btn-default
          таблица
  %hr.mini
  .container
    .clearfix
    - for i in 0..6
      = partial 'tech/block'

    %ul.pagination
      - for i in 1..5
        %li{class: "#{i==1 ? 'active' : '' }"}
          %a
            = i


  %hr
  .container
    %h3 Лучшие предложения
    - for i in 0..3
      = partial 'tech/block'
