---
title: Трактор Т-150 гусечничный
layout: prototype
body_class: prototype main
---
%section.tech-main-content
  .row
    .col-xs-12.col-md-8
      .visible-xs.visible-sm
        %h3.no-margin-top Трактор Т-150 гусечничный
      %p
        = partial 'shared/user'
      .tech-photo
        %img.tech-photo-img{src: "#{root_app_path}images/t150.jpg"}
      .row.visible-xs.visible-sm
        .col-xs-9.col-xs-offset-2
          %h3
            %nowrap 8 900 руб.
            %small.text-muted
              в день
      - parameters = { 'Тип' => 'Гусеничный', 'Тяговый класс' => '4',  }
      %table.table
        - parameters.each_pair do |key, value|
          %tr
            %td= key
            %td= value
            
      %form.form-vertical
        %h3 Заказ трактора
        .form-group
          .row
            .col-xs-6
              %input.form-control{type: 'date', placeholder: 'Начало работ'}
            .col-xs-6
              %input.form-control{type: :tel, maxlength: 3, placeholder: 'Количество дней'}
        .form-group
          %input.form-control{placeholder: "Ваше имя", role: "name", type: "text"}
        .form-group
          %input.form-control{maxlength: "", placeholder: "Контактный телефон", role: "phone", size: "", type: "tel"}
        
        %a.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Заказать", href: ''} Заказать

%section.tech-container
  .container
    %h4
      Другая техника от
      = partial 'shared/user'
    = partial 'tech/block'
