---
title: Трактор Т-150 гусечничный
layout: prototype
body_class: prototype main
---

%section.tech-main-content
  %h3.no-margin-top Трактор Т-150 гусечничный
  %p
    = partial 'shared/user'
  .row
    .col-xs-4
      .tech-photo
        .tech-photo-img{style: "background-image: url('#{root_app_path}images/t150.jpg')"}
          %img{src: empty_image_src, width: '100%'}
    .col-xs-8
      %h3.no-margins
        %nowrap 8 900 руб.
        %small.text-muted в день
      - parameters = { 'Тип' => 'Гусеничный', 'Тяговый класс' => '4',  }
      %table.table.table-condensed.no-margin-bottom
        - parameters.each_pair do |key, value|
          %tr
            %td= key
            %td= value

  = partial 'shared/order_form'
%hr
.well
  %p
    Ваше объявление опубликовано и занимает
    %strong 120 место
    в категории
    %strong Трактора
  %a.btn.btn-warning.btn-block Поднять объявление в списке


%hr

%section.tech-similar
  %h4
    Другая техника от
    %nowrap= partial 'shared/user'
  %table.table
    - for i in 0..3
      %tr{ href: "#{root_app_path}tech/show.html", role: 'tech-block'}
        %td
          .tech-photo-img{style: "background-image: url('#{root_app_path}images/t150.jpg')"}
            %img{src: empty_image_src, width: 32}
        %td
          %strong Трактор Т-150 гусечничный
        %td
          6000 р./день
