---
title: Трактор Т-150 гусечничный
layout: prototype
body_class: prototype
---

-#%section.order-tech.visible-xs.visible-sm
  .container
    .row
      .col-xs-12
        %a.col-xs-10.col-xs-push-1.order{href: "#new_house_order"} Заказать этот трактор
%section.house-main-content
  .row
    .col-xs-12.col-md-8
      .visible-xs.visible-sm
        %h3 Трактор Т-150 гусечничный
      .row
        %h1.visible-md.visible-lg.mt30.col-md-8
          Заказать Трактор Т-150 гусечничный
      %p.visible-md.visible-lg
        = "#{ficon 'user-1'} Petrovich"
      .tech-photo
        %img.tech-photo-img{src: "#{root_app_path}images/t150.jpg"}
      .row.visible-xs.visible-sm
        .col-xs-9.col-xs-offset-2
          %h4.light-price
            %nowrap 8 900 руб.
            %small.text-muted
              в день
      - parameters = { 'Тип' => 'Гусеничный', 'Тяговый класс' => '4',  }
      %table.table
        - parameters.each_pair do |key, value|
          %tr
            %td= key
            %td= value
            
    .sidebar.col-xs-12.col-md-4
      .right-price.visible-lg.visible-md
        %div
          %nowrap 8 900 руб.
          в день
      %form.form-horizontal
        %h3 Заказ трактора
        .form-group
          .row
            .col-xs-6
              %input.form-control{type: 'date', placeholder: 'Начало работ'}
            .col-xs-6
              %input.form-control{type: :tel, maxlength: 3, placeholder: 'Количество дней'}
        .form-group
          %input.form-control{placeholder: "Ваше имя", role: "name", type: "text"}
        .form-group
          %input.form-control{maxlength: "", placeholder: "Контактный телефон", role: "phone", size: "", type: "tel"}
        
        %a.btn.btn.btn-success.btn-block{type: "submit", value: "Заказать", href: ''}
%section.houses-block
  .container
    %p.light-h2 Похожая техника
