---
title: Трактор Т-150 гусечничный
layout: prototype
body_class: prototype main
---

%section.tech-main-content
  .row
    .col-xs-12.col-md-8
      .visible-xs.visible-sm
        %h3.no-margin-top Трактор Т-150 гусечничный
      %p
        = partial 'shared/user'
      .tech-photo
        %img.tech-photo-img{src: "#{root_app_path}images/t150.jpg"}
      .row.visible-xs.visible-sm
        .col-xs-9.col-xs-offset-2
          %h3
            %nowrap 8 900 руб.
            %small.text-muted
              в день
      - parameters = { 'Тип' => 'Гусеничный', 'Тяговый класс' => '4',  }
      %table.table
        - parameters.each_pair do |key, value|
          %tr
            %td= key
            %td= value

      = partial 'shared/order_form'
%hr
.well
  %p
    Ваше объявление опубликовано и занимает
    %strong 120 место
    в категории
    %strong Трактора
  %a.btn.btn-warning.btn-block Поднять объявление в списке


%hr

%section.tech-similar
  %h4
    Другая техника от
    %nowrap= partial 'shared/user'
  %table.table
    - for i in 0..3
      %tr{ href: "#{root_app_path}tech/show.html", role: 'tech-block'}
        %td
          %strong Трактор Т-150 гусечничный
        %td
          6000 р./день
